*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  --clr-primary: #698aff;
  --clr-primary-light: #eff3ff;
  --clr-secondary: #f88545;
  --clr-secondary-light: #fffaf3;
  --clr-dark: #222222;
  --ff-primary: 'Raleway', sans-serif;
  --ff-secondary: 'Cinzel', serif;
  --ff-accent: 'Roboto', sans-serif;
}

body {
  background: #fff;
  line-height: 1.45;
  color: #222222;
  color: var(--clr-dark);
  font-family: 'Raleway', sans-serif;
  font-family: var(--ff-primary);
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button {
  line-height: inherit;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}

/* ---------- Utility Classes --------- */
.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-grow-1 {
  flex: 1 !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.text-center {
  text-align: center !important;
}

.text-end {
  text-align: end !important;
}

/* ====================== Layout ====================== */
.section {
  padding: 6rem 0;
}

.section__header {
  text-align: center;
  margin-bottom: 2rem;
}

.section__title {
  font-weight: 700;
  color: var(--clr-secondary);
  font-size: 2rem;
  font-family: 'Cinzel', serif;
  font-family: var(--ff-secondary);
}

.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: auto;
}

/* ====================== Modules ====================== */
.logo {
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--ff-secondary);
}

.svg-icon {
  width: 1em;
  height: 1em;
}

/* --------- Navigation -------- */
.nav__link {
  font-weight: 600;
  padding: 0.15rem;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  position: relative;
}

.nav__link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background: currentColor;
  transform: scale(0, 1);
  transition: transform 250ms ease-in-out;
}

.nav__link:focus::before,
.nav__link:hover::before {
  transform: none;
}

.nav__link + .nav__link {
  margin-left: 1rem;
}

/* --------- Hero Img Rect -------- */
.hero-img-rect {
  display: inline-grid;
  grid-template-columns: repeat(2, 150px);
  grid-auto-rows: 150px;
  grid-gap: 0.75rem;
  justify-content: center;
  transform: rotate(45deg);
}

@media screen and (max-width: 500px) {
  .hero-img-rect {
    grid-template-columns: repeat(2, 120px);
    grid-auto-rows: 120px;
  }
}

.hero-img-rect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

/* --------- CAROUSEL -------- */
.carousel {
  overflow: hidden;
  position: relative;
}

.carousel__btn {
  position: absolute;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.75rem;
  z-index: 9;
  outline: none;
}

.carousel__btn:disabled {
  background: rgba(255, 255, 255, 0.5);
}

.carousel__btn:hover:not(:disabled),
.carousel__btn:focus:not(:disabled) {
  filter: brightness(0.9);
}

.carousel__btn[data-dir='left'] {
  left: 1rem;
}

.carousel__btn[data-dir='right'] {
  right: 1rem;
}

.carousel__slider {
  display: flex;
  transition: transform 500ms ease-in-out;
}

.carousel__slide {
  display: block;
  min-width: 100%;
  max-height: 500px;
  position: relative;
}

.carousel__slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  transform: scale(0);
  transition: transform 450ms 150ms ease-in-out;
}

.carousel:hover .carousel__slide::before,
.carousel:focus-within .carousel__slide::before {
  transform: none;
  transition: transform 450ms ease-in-out;
}

.carousel__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__slide .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  transition: 300ms ease-in-out;
}

.carousel:hover .caption,
.carousel:focus-within .caption {
  transform: translate(-50%, -50%);
  transition: 300ms 450ms ease-in-out;
}

/* ------------ CUSTOM VERTICLE SCROLLBAR ----------- */
/* For Firefox */
.custom-v-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: var(--clr-primary) #efefef;
}

/*  Scrollbar for Chrome and Safari */
.custom-v-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.custom-v-scrollbar::-webkit-scrollbar-track {
  background: #efefef;
}

.custom-v-scrollbar::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  border-radius: 1rem;
}

/* ---------- HEADER ------------- */
.header {
  background: #698aff;
  background: var(--clr-primary);
  color: #fff;
  padding: 1.5rem 0;
}

.header .logo {
  margin-right: auto;
}

/* ---------------- HERO ------------- */
.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  background: var(--clr-secondary-light);
}

.hero__text {
  margin-bottom: 5rem;
}

.hero__text .badge {
  display: inline-block;
  background: #f88545;
  background: var(--clr-secondary);
  font-weight: 500;
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 2px;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}

.hero__title {
  font-size: 3rem;
  font-weight: 700;
  color: #698aff;
  color: var(--clr-primary);
  font-family: 'Cinzel', serif;
  font-family: var(--ff-secondary);
}

.hero__btn {
  background: #698aff;
  background: var(--clr-primary);
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.95rem;
}

.hero__text p {
  font-size: 0.9rem;
  line-height: 1.7;
}

@media screen and (min-width: 900px) {
  .hero__container {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
  }

  .hero__text,
  .hero__img {
    flex: 1;
  }

  .hero__text {
    margin-right: 1rem;
  }
}

/* ------------ Popular Places ------------- */
.popular-places {
  background: var(--clr-primary-light);
}

.popular-places__container {
  display: flex;
  overflow-x: scroll;
  padding: 3rem 1.5rem;
  padding-top: 0;
  cursor: grab;
}

.popular-places__container.is-active {
  cursor: grabbing;
}

.popular-places__container figure {
  min-width: 400px;
  height: 250px;
}

.popular-places__container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-places__container figcaption {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: var(--clr-primary);
}

/* -------------- Footer --------------- */
.footer {
  padding: 2.5rem 1rem;
  background: #222222;
  background: var(--clr-dark);
  color: #fff;
}

.footer p {
  font-family: sans-serif;
  margin: 0;
  font-size: 0.85rem;
}

/* ============================= TOUR PAGE =========================== */
.gallery__top {
  width: 100%;
  min-height: 80vh;
  background: url('/images/taj-mahal/taj-mahal.jpg') no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.gallery__top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(105, 138, 255, 0.12);
}

.gallery__bottom {
  border: 5px solid var(--clr-secondary);
  border-left: none;
  border-right: none;
}

.gallery__bottom > * {
  flex: 1;
  max-height: 250px;
  min-height: 150px;
}

.gallery__bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fact {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 300px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.fact__header {
  background: var(--clr-secondary);
  color: #fff;
  padding: 1rem 0.5rem;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.fact__header h4 {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 600;
}

.fact__header svg {
  font-size: 1.45rem;
  margin-right: 0.5rem;
}

.fact__body {
  padding: 1.5rem 1rem;
}

.fact__body svg {
  color: #ccc;
  font-size: 1.45rem;
}

.fact__body p {
  font-weight: 500;
  font-size: 0.95rem;
}

/* ------------- About ------------ */
.about {
  padding: 6rem 0;
}

.about__container {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem 0;
  gap: 2rem 0;
}

@media screen and (min-width: 992px) {
  .about__container {
    grid-template-columns: 1fr 30%;
    grid-gap: 0 2rem;
    gap: 0 2rem;
    align-items: flex-start;
  }
}

.about__title {
  color: #f88545;
  color: var(--clr-secondary);
  margin-bottom: 0.75rem;
  font-family: 'Cinzel', serif;
  font-family: var(--ff-secondary);
}

.about__text p {
  line-height: 1.6;
}

.about-sidebar {
  background: #effbff;
  padding: 3rem 1.5rem;
  border-radius: 4px;
  font-family: var(--ff-accent);
}

.about-sidebar > * + * {
  margin-top: 2rem;
}

.about-sidebar__heading {
  font-size: 1.25rem;
  color: #68c4f8;
  margin-bottom: 1rem;
  font-weight: 500;
}

.about-sidebar__menu {
  line-height: 2.2;
  padding-left: 0.15rem;
}

.about-sidebar__menu span:first-of-type {
  margin-right: 1rem;
  font-weight: 500;
}

.about-sidebar__menu svg {
  font-size: 1.2rem;
  margin-right: 0.75rem;
  color: #68c4f8;
}

.tour-guides li + li {
  margin-top: 1rem;
}

.tour-guides img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.tour-guides span {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 0.95rem;
}

/* ------------ Reviews -------------- */
.reviews {
  margin-bottom: 8rem;
}

.review-cards {
  overflow-x: auto;
  padding: 1.5rem 0.5rem;
}

.review-card {
  min-width: 450px;
  max-width: 450px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
}

.review-card + .review-card {
  margin-left: 1rem;
}

.review-card header {
  margin-bottom: 1rem;
}

.review-card header svg {
  font-size: 1.15rem;
  color: #ffcb11;
}

.review-card .user-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.review-card .user-name {
  font-weight: 600;
  margin-right: auto;
}

/* -------------- CTA ------------- */
.cta__checkout {
  padding: 2rem;
  min-height: 250px;
  background: #fff;
  box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-bottom: 4rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.cta__checkout__imgs {
  position: absolute;
  display: flex;
}

.cta__checkout__imgs img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
  position: relative;
}

.cta__checkout__imgs img:nth-child(1) {
  transform: translateX(-50%);
  z-index: 3;
}
.cta__checkout__imgs img:nth-child(2) {
  transform: translateX(-125%);
  z-index: 2;
}

.cta__checkout__imgs img:nth-child(3) {
  transform: translateX(-200%);
  z-index: 1;
}

.cta__checkout__action {
  padding-left: 9rem;
  width: 100%;
}

.cta__heading {
  color: var(--clr-primary);
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.btn-checkout {
  background: var(--clr-primary);
  color: #fff;
  padding: 0.6rem;
  width: 150px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 100vh;
  letter-spacing: 0.5px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.25);
  transition: all 200ms ease-in-out;
}

.btn-checkout:focus,
.btn-checkout:hover {
  transform: translateY(-3px);
  filter: brightness(0.8);
}

@media screen and (max-width: 400px) {
  .cta__checkout__imgs img {
    width: 100px;
    height: 100px;
  }

  .cta__checkout__action {
    padding-left: 7rem;
  }

  .btn-checkout {
    transform-origin: left;
    transform: scale(0.85);
  }
}

@media screen and (min-width: 750px) {
  .cta__checkout__imgs img {
    width: 150px;
    height: 150px;
  }

  .cta__checkout__action {
    padding-left: 12rem;
  }

  .cta__heading {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 900px) {
  .cta__heading {
    margin: 0;
  }

  .cta__checkout__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-checkout {
    padding: 0.75rem;
  }
}

/* -------------- Blogs ------------- */
.blogs {
  padding: 4rem 0;
}

.blogs__container {
  overflow: auto;
  padding: 4rem 1rem 1rem 3rem;
}

.blogs__heading {
  text-transform: capitalize;
  color: var(--clr-primary);
}

.blog-card {
  min-width: 200px;
  padding: 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(90deg, #f4f9ff 0%, #ffffff 100%);
  box-shadow: -30px -26px 47px -19px rgba(0, 0, 0, 0.25);
  transition: transform 200ms ease;
}

.blog-card ~ .blog-card {
  transform: translateX(-10px);
}

.blog-card:hover,
.blog-card:focus-within {
  transform: translate(-0.5rem, -1rem) rotate(3deg);
}

.blog-card:hover ~ .blog-card,
.blog-card:focus-within ~ .blog-card {
  transform: translateX(0);
}

.blog-card h5 {
  color: var(--clr-primary);
  margin-bottom: 1rem;
}

.blog-card p {
  font-size: 0.9rem;
  line-height: 1.6;
}

@media screen and (min-width: 900px) {
  .blogs__container {
    padding: 4.25rem 1rem 1rem 3.75rem;
  }

  .blog-card ~ .blog-card {
    transform: translateX(-20px);
  }

  .blog-card:hover,
  .blog-card:focus-within {
    transform: translate(-1rem, -2rem) rotate(5deg);
  }
}
